{% extends "base.html" %}
{% load static %}
{% block main_content %}
    <div class="container-inline">
        <section id="welcomePage">
            <div id="welcome-message">
                <h1>Welcome to FitnessMenu.</h1>
            </div>
        </section>
    </div>
    <div class="container-inline">
        <article id="Left-article">
            <div id="welcome-message">
                <p>Explore healthy and fitness friendly recipes for achieving your best shape or just for your health!</p>
            </div>
        </article>
        <section id="img">
            <img src="{% static "/images/background.png"%}" alt='background'>
        </section>
        <article id="Right-article">
            <div id="welcome-message">
                <p>Your body is your temple! Become the best version of yourself with some hood food recipes which you can find on our site!</p>
            </div>
        </article>
    </div>
{% endblock %}
