.details-body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.recipe-details-container {
    width: 60%;
    margin: 2em;
    padding: 2em;
    display: flex;
    background-color: black;
    color: white;
    border-radius: 35px;
}

.details-image {
    width: 60%;
    height: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.description-container {
    width: 50%;
    align-items: center;
    text-align: center;
}

.macros {
    display: flex;
    justify-content: space-around;
}

img[alt=no-photo] {
    width: 100%;
}