{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <section id="recipe-list">
    
        {% if not page_obj %}
            <div class="no-recipes-title">
                <p>No Recipes yet!</p>
            </div>
        {% endif %}

        {% for recipe, nutrition in recipe_nutrition_list %}
            <div class="recipe">
                <div class="image">
                    {% if recipe.image_url %}
                        <img id="recipe-img" src="{{ recipe.image_url }}" alt="photo"/>
                    {% else %}
                        <img id="recipe-img" src="{% static "/images/no-photo-image.png" %}" alt="no-photo"/>
                    {% endif %}
                </div>
                    
                <div>
                    <div class="description">
                        <h2 class="name">{{ recipe.name }}</h2>
                        <p class="type">Type: {{ recipe.type }}</p>
                        <h4>Macros and calories in 100g</h4>
                        <p class="calories">Calories: {{ nutrition.calories }}kcal</p>
                        <p class="protein">Protein: {{ nutrition.protein }}g</p>
                        <p class="carbs">Carbs: {{ nutrition.carbs }}g</p>
                        <p class="fats">Fats: {{ nutrition.fats }}g</p>
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="btn">
    {#                        {% url 'details_album' pk=album.pk %}#}
                            <a id="details-btn" href="{% url 'details recipe' pk=recipe.pk%}">See the recipe !</a>
                        </div>
                    {% else %}
                        <div class="register-message">
                           <p>You need to be logged to see the recipe!</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}