{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="details-body">
        <div class="recipe-details-container">
            <div class="details-image">
                {% if recipe.image_url %}
                    <img src="{{ recipe.image_url }}" alt="photo"/>
                {% else %}
                    <img src="{% static "/images/no-photo-image.png" %}" alt="no-photo"/>
                {% endif %}
            </div>
            <div class="description-container">
                <div class="details-container">
                    <h2 class="name">{{ recipe.name }}</h2>
                    <p class="type">Type: {{ recipe.type }}</p>
                    {% if average_rating %}
                        <p>Recipe Rating: {{ average_rating|floatformat:1 }}</p>
                    {% else %}
                        <p>No ratings yet.</p>
                    {% endif %}
                    <h4>Macros and calories in 100g</h4>
                    <p class="calories">Calories: {{ nutrition.calories }}kcal</p>
                    <div class="macros">
                        <p class="protein">Protein: {{ nutrition.protein }}g</p>
                        <p class="carbs">Carbs: {{ nutrition.carbs }}g</p>
                        <p class="fats">Fats: {{ nutrition.fats }}g</p>
                    </div>
                </div>
                <div class="how-to-make-container">
                    <h2>How to make</h2>
                    <p class="how-to-make">{{ recipe.description }}</p>
                </div>
                {% if request.user.id != recipe.owner_id %}
                    {% if not has_rated %}
                        <div id="buttons">
                            <button id="review"><a class="review-button" href="{% url 'recipe-review' pk=object.pk %}">Leave
                                Review</a></button>
                        </div>
                    {% endif %}
                {% endif %}
                {% if recipe.owner_id == request.user.id %}
                    <div id="buttons">
                        <div id="edit">
                            <button class="edit-button"><a href="{% url 'edit-recipe' pk=recipe.pk %}">Edit</a></button>
                        </div>
                        <div id="delete">
                            <button class="delete-button"><a href="{% url 'delete-recipe' pk=recipe.pk %}">Delete</a>
                            </button>
                        </div>
                    </div>
                {% endif %}
                <button id="addToListBtn">Add to List</button>
                <form class="dropmenu" method="POST" action="{% url 'add-to-list' pk=recipe.pk %}">
                    {% csrf_token %}
                    <select name="list_id" style="display: none;">
                        <option value="" selected disabled>Select List</option>
                        {% for list in lists %}
                            <option value="{{ list.id }}">{{ list.name }}</option>
                        {% empty %}
                            <option disabled>No lists yet</option>
                        {% endfor %}
                    </select>
                    <button type="submit" style="display: none;">Add to List</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let addToListBtn = document.getElementById('addToListBtn');
            let listSelect = document.querySelector('select[name="list_id"]');
            let addToListForm = document.querySelector('form[action="{% url "add-to-list" pk=recipe.pk %}"]');

            if (addToListBtn && listSelect && addToListForm) {
                addToListBtn.addEventListener('click', function () {
                    if (listSelect.style.display === 'block') {
                        listSelect.style.display = 'none';
                        addToListForm.querySelector('button[type="submit"]').style.display = 'none';
                    } else {
                        listSelect.style.display = 'block';
                        addToListForm.querySelector('button[type="submit"]').style.display = 'block';
                    }
                });
            } else {
                console.error("Required elements not found.");
            }
        });
    </script>

{% endblock %}